/* frontend/src/components/LoginFormPage/LoginForm.css */

/* The css styles for Havenly backrounds */

body {
    /* Removes default spacing */
    margin: 0;
    padding: 0;
    /* For a simple font */
    font-family: Arial, sans-serif;
}

/* This is the styles for the main login form */
section {
    /* This sets a max width for a better readability */
    max-width: 400px;
    /* This is the center form on the page with spaceing */
    margin: 60px auto;
    /* This adds spacing inside the form */
    padding: 24px;
    /* This makes the form have rounded corners */
    border-radius: 12px;
    /* This gives the form a white backround */
    background-color: white;
    /* This adds a blue border around the form */
    border: 1px solid blue;
    /* This adds a shadow */
    box-shadow: 0 4px 12px rgba( 0, 0, 0, 0.1 );
}

/* This is the styles for the main heading */
h1 {
    /* This is to ecnter the title text */
    text-align: center;
    /* This uses a hopefully navy blue color */
    color: navy;
    /* This adds a spacing under the heading */
    margin-bottom: 24px;
}

/* This styles the form structure */
form {
    /* This stacks the form fields vertically */
    display: flex;
    flex-direction: column;
}

/* These are the label styles */
label {
    /* This is the below the label */
    margin-bottom: 8px;
    /* This makes the label text bold */
    font-weight: bold;
    /* This is a dark blue */
    color: darkblue;
}

/* These are the field input styles */
input {
    /* This adds padding inside the inputs */
    padding: 10px;
    /* This adds space below each input */
    margin-bottom: 16px;
    /* This is a blueish grey border */
    border: 1px solid #365882;
    /* This rounds the corners a little */
    border-radius: 8px;
    /* This sets the font size */
    font-size: 16px;
}

/* This is the style for input when selected */
input:focus {
    /* This removes a default blue glow */
    outline: none;
    /* This highlights the border in a sky blue color */
    border-color: skyblue; 
}

/* These are the button styles */
button {
    /* This adds padding inside the button */
    padding: 10px;
    /* This makes the color sky blue */
    background-color: skyblue;
    /* This makes text white */
    color: white;
    /* This removes the default border */
    border: none;
    /* This rounds the corners a little */
    border-radius: 8px;
    /* This is the font size */
    font-size: 8px;
    /* This makes the mouse turn to a pointer finger */
    cursor: pointer;
}

/* This adds a hover effect on button */
button:hover {
    /* This adds a slight darker blue when hovered */
    background-color: rgb(89, 188, 227); 
}

/* This is the error message styles */
p {
    /* Making the color red for more pop */
    color: red;
    /* This makes the font smaller for errrors */
    font-size: 14px;
    /* This pulls the text closer to input */
    margin-bottom: -10px;
    /* This adds a space before the next element */
    margin-bottom: 10px;
}